*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
body{
	background: #edf1f5;
}
a{
	text-decoration: none;
}
.notespage, .main{
	display: flex;
}
.page-content{
	overflow: auto; 
}
.notesHeader{
	display: flex;
	margin-bottom: 10px;
}
.wish{
	font-size: 28px;
	font-weight: 800;
}
.dot{
    color: #0083ff;
    font-size: 58px;
}

.quotes{
    font-size: 22px;
    color: rgb(128, 128, 128);
    font-weight: 700;
    margin-top: -10px;
}

.searchbar{
	position: relative;
    left: 200px;
    top: 35px;
}

#searchTerm{
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    padding: 15px;
}

.searchbtn{
	height: 45px;
    width: 70px;
    border: none;
    background: #007bff;
    border-radius: 5px;
    color: white;
	
}

#add-notes{
	width: 120px;
	
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid transparent;
	border-radius: 0;
	margin-bottom: 30px;
}

.addNotes{
	width: 125px;
	height: 100px;
	margin-top: -70px;
}


.card-body {
	flex: 1 1 auto;
	padding: 1.57rem;
	color: black;
	
}

.single-note-item{
	text-decoration: none;
}

.note-has-grid .nav-link {
	padding: .5rem
}

.note-has-grid .single-note-item .card {
	border-radius: 10px
}

.note-has-grid .single-note-item .favourite-note {
	cursor: pointer
}

.note-has-grid .single-note-item .side-stick {
	position: absolute;
	width: 3px;
	height: 35px;
	left: 0;
	background-color: #5754f7;
}

.note-has-grid .single-note-item .category-dropdown.dropdown-toggle:after {
	display: none
}

.note-has-grid .single-note-item .category [class*=category-] {
	height: 15px;
	width: 15px;
	display: none
}

.note-has-grid .single-note-item .category [class*=category-]::after {
	content: "\f0d7";
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 12px;
	color: #fff;
	position: absolute
}

.note-has-grid .single-note-item .category .category-business {
	background-color: rgba(44, 208, 126, .5);
	border: 2px solid #2cd07e
}

.note-has-grid .single-note-item .category .category-social {
	background-color: rgba(44, 171, 227, .5);
	border: 2px solid #2cabe3
}

.note-has-grid .single-note-item .category .category-important {
	background-color: rgba(255, 80, 80, .5);
	border: 2px solid #ff5050
}

.note-has-grid .single-note-item.all-category .point {
	color: #FCB139;
	padding-left: 5px;
}

.note-has-grid .single-note-item.note-business .point {
	color: rgba(44, 208, 126, .5)
}

.note-has-grid .single-note-item.note-business .side-stick {
	background-color: rgba(44, 208, 126, .5)
}

.note-has-grid .single-note-item.note-business .category .category-business {
	display: inline-block
}

.note-has-grid .single-note-item.note-favourite .favourite-note {
	color: #ffc107
}

.note-has-grid .single-note-item.note-social .point {
	color: rgba(44, 171, 227, .5)
}

.note-has-grid .single-note-item.note-social .side-stick {
	background-color: rgba(44, 171, 227, .5)
}

.note-has-grid .single-note-item.note-social .category .category-social {
	display: inline-block
}

.note-has-grid .single-note-item.note-important .point {
	color: rgba(255, 80, 80, .5)
}

.note-has-grid .single-note-item.note-important .side-stick {
	background-color: rgba(255, 80, 80, .5)
}

.note-has-grid .single-note-item.note-important .category .category-important {
	display: inline-block
}

.note-has-grid .single-note-item.all-category .more-options,
.note-has-grid .single-note-item.all-category.note-favourite .more-options {
	display: block
}

.note-has-grid .single-note-item.all-category.note-business .more-options,
.note-has-grid .single-note-item.all-category.note-favourite.note-business .more-options,
.note-has-grid .single-note-item.all-category.note-favourite.note-important .more-options,
.note-has-grid .single-note-item.all-category.note-favourite.note-social .more-options,
.note-has-grid .single-note-item.all-category.note-important .more-options,
.note-has-grid .single-note-item.all-category.note-social .more-options {
	display: none
}

/* Create Notes CSS */
 .container {
    width: 1000px;
	border-radius: 8px;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 320px;
}
.noteseditor{
	margin-left: 300px;
	
}
.noteseditor li {
	margin-left: 16px;
}

.noteseditor a {
	cursor: pointer;
}


.toolbar {
	padding: 16px;
	background: white;
    height: 150px;
    border-radius: 15px;
    width: 1000px;
    padding-left:  70px;
    /* margin-left: 300px; */
    
}
.toolbar .head {
	display: flex;
	grid-gap: 10px;
	margin-bottom: 16px;
	flex-wrap: wrap;
}
.toolbar .head > input {
	max-width: 100px;
	padding: 6px 10px;
	border-radius: 6px;
	border: 2px solid #ddd;
	outline: none;
}
.toolbar .head select {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
.toolbar .head .color {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	grid-gap: 6px;
	padding: 0 10px;
}
.toolbar .head .color span {
	font-size: 14px;
}
.toolbar .head .color input {
	border: none;
	padding: 0;
	width: 26px;
	height: 26px;
	background: #fff;
	cursor: pointer;
}
.toolbar .head .color input::-moz-color-swatch {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50%;
}
.toolbar .btn-toolbar {
	display: flex;
	flex-wrap: wrap;
	/* align-items: center; */
	grid-gap: 10px;
    /* margin-left: -50px; */
}
.toolbar .btn-toolbar button {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
    
}
.toolbar .btn-toolbar button:hover {
	background: #f3f3f3;
}
#content {
	padding: 16px;
	outline: none;
	height: 800px;
    width: 1000px;
	overflow: auto;
    margin-top: -50px;
    background-color: white;
    border-radius: 15px;
    padding-top: 50px;
}
#contentValue{
	display: none;
}
#show-code[data-active="true"] {
	background: #eee;
}

#savenotes, #deletenotes, #updatenotes{
    position: absolute;
    top: 40px;
    left: 1100px;
    padding: 5px 15px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#deletenotes{
    left: 1180px;
    background-color:black;
}
#updatenotes{
	display: none;
}

#filename{
    width: 1000px;
    background-color: white;
    font-size: 32px;
    border: none;
    margin-top: 30px;
    padding: 15px;
    border-radius: 15px;
}





@media (max-width:767.98px) {
	.note-has-grid .single-note-item {
		max-width: 100%
	}
}

@media (max-width:991.98px) {
	.note-has-grid .single-note-item {
		max-width: 216px
	}
}