*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    /* position: fixed; */
}

.profile{
    display: flex;
    position: fixed;
}

.profile-left{
	margin-top: 50px;
	margin-left: 300px;
	padding-right: 5px;
}

.profile-right{
margin-top: 50px;
}

.profile-card{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 30px;
    padding-right: 100px;
}
.profile img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 50px;
}
.profile-card h2{
    margin-top: 20px;
    margin-bottom: -30px;
    margin-left: 30px;
    color: #fe8018;
}
.profile-card span{
    color:#fe8018;
}
.profile-card input{
    width: 220px;
}
#name, #phonenumber, #email, #password{
    padding: 10px;
    margin: 10px 10px 0px 30px;
}
#name, #phonenumber{
    margin-top: 60px;
}
#email, #password{
    margin-bottom: 30px;
}
#newpass, #oldpass{
	display: none;
    height: 30px;
    padding: 5px;
    margin-top: -25px;
    margin-left: 90px;
    margin-bottom: 40px;
}


#changebtn{
	display: none;
	border: none;
    background: linear-gradient(to bottom right, #fe8018, #fe4c68);
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    width: 100px;
    margin-left: 200px;
    margin-top: -10px;
}

.save{
    margin-top: 50px;
    /* margin-left: 200px; */
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    width: 100px;
    border: none;
    background: linear-gradient(to bottom right, #fe8018, #fe4c68);
    color: white;
    cursor: pointer;
}
.savendel{
    margin-left: 50px;
}
.profile-right{
    margin-left: 100px;
}
.bio, .progress, .personality{
    backdrop-filter: blur(5px);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    font-size: 18px;
    border-radius: 15px;
    width: 500px;
    padding: 20px;
    margin-bottom: 100px;
}
.achieved{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.bio h3,.personality h2{
    margin-bottom: 20px;
}
#saveUserName{
	display: none;
    color: #fe8018;
    cursor: pointer;
    margin-left: 350px;
    margin-top: -30px;
}
.tag{
    display: flex;
    justify-content: space-between;
}
#progress{
    width: 100%;
}

.tag-line{
    margin-left: 40px;
}
.tag-line h2{
    margin-bottom: 20px;
    margin-left: -10px;
}
.tag-line button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: white;
    border: none;

}