aside {
	position: fixed;
    color: #fff;
    width: 250px;
    padding-left: 20px;
    height: 100%;
    background-image: linear-gradient(30deg , #0048bd, #44a7fd);
    border-top-right-radius: 80px;
  }
  
.logoSection {
  display: flex;
  margin-top: 35px;
  margin-bottom: 50px;
  margin-left: -80px;
}

.logoSection a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

#freshtimeLogo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 30px;
}
  
  
aside a {
    font-size: 24px;
    color: #fff;
    display: block;
    padding: 20px;
    padding-left: 30px;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}
  
  aside a:hover {
    color: #3f5efb;
    background: #fff;
    outline: none;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  aside a i {
    margin-right: 15px;
  }
  
  aside a:hover::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 #fff;
  }
  
  aside a:hover::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 38px;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 18px;
    box-shadow: 0 -20px 0 0 #fff;
  }
  
  aside p {
    margin: 0;
    padding: 40px 0;
    position: fixed;
  }
  
