:root{
    --primaycolor : #0083ff;
    --bgcolor: #fbfbfd;
    --mainfont : 23px;
    --subfont : 21px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
.main{
	position: fixed;
}

.taskpage{
    display: flex;
}

.taskcol{
    padding-left: 80px;
    width: 800px;
    height: 100vh;
    margin-right: 40px;
    overflow-y: scroll;
}

.profilecol{
    width: 400px;
    height: 100vh;
    background-color: var(--bgcolor);
    padding: 15px;
    margin-right: 90px;
    border-radius: 30px ;
    padding: 30px;
    
}

.Todayschedule{
    font-size: 40px;
    font-weight: 700;
}

.totalTask{
	margin-top: 20px;
	font-size: 32px;
    font-weight: 700;
}
#tottask{
	color: #0083ff;
}

#taskandsubtask{
	margin-top: 50px;
}
#date{
    font-size: 36px;
    color: var(--primaycolor);
    font-weight: 700;
    margin-top: 10px;
}
#addtaskplus{
height: 40px;
    width: 40px;
    background-color: var(--primaycolor);
    border-radius: 30px;
    position: relative;
    left: 600px;
    top: 275px;
    color: white;
    border: none;
}
.fa-plus{
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 22px;
    color: white;
}


.toggle-chevron{
	cursor: pointer;
}

.subtasklist{
	display: none;
	margin-left: 30px;
}

.taskli, .subtaskli{
	display: flex;
    margin-top: 25px;
    width: 700px;
    background-color: #f3f8fb;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    padding: 20px;
	text-align: center;
    align-items: center;
}

.taskli:hover,.subtaskli:hover{
	background-color: #f7f7f7;
}

.taskName, .subtaskName {
  width: 300px;
  margin-left: 20px;
  word-wrap:break-word;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  color: black;
}

.taskPriority, .subtaskDueDate, .subtaskpriority{
  padding: 5px;
  width: 130px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  position: relative;
}
.taskPriority{
    left: 30px;
}

.taskStatus{
    position: relative;
    font-weight: bold;
    left: 10px;
}

#redcircle, #yellowcircle, #greencircle{
	width: 15px;
	position: relative;
	left: 55px
}


.notstarted {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
}
.scheduled{
	background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
}
	
.inprogress {
    background-color: #52acf5;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
}

.completed {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
}

.overdue {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
}

#addsubtask{
	margin-top: 30px;
}
.subtaskName{
	padding: 8px;
}


#username{
    font-weight: 900;
    font-size: 18px;
}
#setting{
    font-weight: 900;
    font-size: 16px;
    color: var(--primaycolor);
}
.profilesection {
    display: flex;
    justify-content: space-between;
}
.profilesection img{
    height: 50px;
    width: 50px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}
.music{
    margin-top: 50px;
}

#timenow{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 36px;
    font-weight: 900;
}

.quotes{
    margin-top: 50px;
    margin-left: 20px;
}
.quotes h3{
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}
#lastimg{
    margin-top: 30px;

}




/* Add Task Card Style */

.addtaskpopup{
  display: none;
  position: absolute;
  top: 100px;
  left: 450px;
  background-color: white;
  padding: 30px;
  height: 650px;
  width: 470px;
  border-radius: 30px;
  animation-name: down;
  animation-duration: 1s;
}

@keyframes down{
  0%{
      top: 800px;
  }
}

.taskheader{
  display: flex;
  margin-bottom: 10px;
  
}

.design p{
  height:80px;
  width: 20px;
  background-color: rgb(51, 192, 255);;
  border-radius: 30px;
  margin-right: 20px;
  margin-top: -30px;
}

.taskheader, .taskheading{
  font-size: 22px;
  margin-top: 10px;
  font-weight: bold;
  margin-top: -30px;
}

.taskquote{
  font-size: 20px;
  margin-top: 10px;
}

#taskname, #taskdescription{
  font-size: 21px;
  outline: none;
  width: 350px;
  padding: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  color: #424242;
  margin-top: -10px;
}
#taskname:hover, #taskdescription:hover{
	background-color: #ededed;
}
#taskdescription{
	margin-top: 10px;
}
#prioritylabel,#statuslabel, #reminderlabel{
	position: relative;
	font-size: 15px;
	padding-left: 10px;
}

#calensvg{
	position: relative;
	top: 28px;
}



#prioritylabel{
	top:20px;
}



#priority{
	position: relative;
	top: 28px;
	left: 30px;
}

#statuslabel{
	top:30px;
}
#status{
	position: relative;
	top: 34px;
	left: 38px;
}


#reminderlabel{
	top:45px;
}
#reminder{
	position: relative;
	top: 45px;
	left: 1px;
}

.notesContainer{
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	border-radius: 8px;
	font-size: 16px;
	margin-top: 0px;
	padding-left: 10px;
	height: 200px;
}

.notesHeading{
	padding-top: 20px;
}

#notesFeild {
  border: none;
  outline: none;
  margin-left: 30px;
}

#updatetask, #deletebtn{
	border: none;
    outline: none;
	position: relative;
	top: 10px;
	cursor: pointer;
	background-color: red;
	color: white;
    padding: 5px;
    border-radius: 5px;
    
}

#updatetask {
  left: 225px;
}

#deletebtn{
	left: 205px;
}

#cancel {
	width: 20px;
    background-color: #f3f8fb;
    position: relative;
    left: 380px;
    border-radius: 5px;
    padding: 5px 25px 5px 10px;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

#savetask, #updatetask {
  background-color: #0083FF;
}




/* CheckBox Style */

.taskli label, .subtaskli label {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
  left: -70px;
}

.taskli input, .subtaskli input  {
  visibility: hidden;
  display: none;
}

.taskli input:checked ~ .checkbox, .subtaskli input:checked ~ .checkbox {
 transform: rotate(45deg);
 width: 14px;
 margin-left: 12px;
 border-color: black;
 border-top-color: transparent;
 border-left-color: transparent;
 border-radius: 0;
}

.taskli .checkbox, .subtaskli .checkbox {
  display: block;
  width: inherit;
  height: inherit;
  border: 3px solid #434343;
  border-radius: 6px;
  transition: all 0.375s;
}

#addtaskbar{
  width: 660px;
  height: 50px;
  padding-left: 24px;
  margin-top: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 6px;
  color: #b2b2b2;
  background-color: var(--bgcolor);
  font-size: 16px;
  position: fixed;
  top: 800px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
  
 