<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  

  <servlet>
  	<servlet-name>addtask</servlet-name>
  	<display-name>addtask</display-name>
  	<description></description>
  	<servlet-class>com.fssa.freshtime.servlet.addtask</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<display-name>UpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.freshtime.servlet.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NotesServlet</servlet-name>
  	<display-name>NotesServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.freshtime.servlet.NotesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateNoteServlet</servlet-name>
  	<display-name>UpdateNoteServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.freshtime.servlet.UpdateNoteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSubtaskServlet</servlet-name>
  	<display-name>AddSubtaskServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.freshtime.servlet.AddSubtaskServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSubtaskServlet</servlet-name>
  	<display-name>DeleteSubtaskServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.freshtime.servlet.DeleteSubtaskServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteNoteServlet</servlet-name>
  	<display-name>DeleteNoteServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.freshtime.servlet.DeleteNoteServlet</servlet-class>
  </servlet>

  
  <servlet-mapping>
  	<servlet-name>addtask</servlet-name>
  	<url-pattern>/addtask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NotesServlet</servlet-name>
  	<url-pattern>/NotesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateNoteServlet</servlet-name>
  	<url-pattern>/UpdateNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSubtaskServlet</servlet-name>
  	<url-pattern>/AddSubtaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSubtaskServlet</servlet-name>
  	<url-pattern>/DeleteSubtaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteNoteServlet</servlet-name>
  	<url-pattern>/DeleteNoteServlet</url-pattern>
  </servlet-mapping>



  <error-page>
		<error-code>404</error-code> <!-- HTTP Error code Page Not found -->
		<location>/404error.jsp</location>
  </error-page>
	
	
  <error-page>
		<error-code>500</error-code> <!-- HTTP Error code Page Not found -->
		<location>/500error.jsp</location>
	</error-page>
  
</web-app>
